<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flappy-bird</title>
    <meta name="Description" content="">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="../index.html">
            <img src="../assets/img/logo-site.jpg" alt="Logo du site">
        </a>
        
        <a class="login" href="login.html">
            <img src="../assets/img/connexion.png" alt="Bouton connexion">
        </a>
    </header>

    <main class="flappy_main">
        <div id="score-container">
            <div class="score-box">
                <span class="score-label">Score</span>
                <span class="score-value" id="current-score">0</span>
            </div>
            <div class="score-box">
                <span class="score-label">Highscore</span>
                <span class="score-value" id="high-score">0</span>
            </div>
        </div>
        <canvas id="board_flappy"></canvas>
    </main>
    

    <footer>
        <div class="quitGame">
            <a href="../index.html">Quit Game</a>
            </div>
    </footer>
    <script src="../assets/js/flappy-bird.js"></script>
</body>
</html>  